header {
  background-color: palegreen;
}

.menu {
  margin-left: auto;
  display: none;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: green;
}
.menu-icon {
  display: grid;
  justify-content: end;
}

.pets {
  display: flex;
  justify-content: space-between;
  background-color: lightcyan;
}
.logo {
}
p {
  text-align: right;
}
.filter {
  display: ;
}
.adopt {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  color: gray;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: lightcyan;
}

img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  margin-top: 40px;
  border-radius: 80px;
}

body {
  background-color: lightblue;
}

.gallery {
  display: flex;
  justify-content: center;
}

footer {
  padding: 40px;
  text-align: center;
  background-color: paleturquoise;
}

.add {
  display: none;
}
