header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f4f4f4;
  padding: 20px;
}

.menu-bar ul {
  display: flex;
  list-style: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4;
  transition: opacity 0.5s, visibility 0s 0.5s;
  height: 20px;
}
.menu-bar li {
  margin: 80px 10px; /* Adds horizontal spacing between menu items */
}

.menu-bar a,
.menu-bar button {
  text-decoration: none; /* Removes underline from links */
  color: black; /* Sets the text color for links */
  background-color: transparent; /* Ensures buttons have no background */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over buttons */
  font-family: Verdana, sans-serif; /* Sets the font for text within the menu */
  border-color: green;
}

.menu-bar a:hover,
.menu-bar button:hover {
  color: green; /* Changes text color on hover for visual feedback */
}
.submenu {
  visibility: hidden;
}
.subcontact {
  margin-left: 70%;
  visibility: hidden;
}
.message-item {
  display: none; /* Aligns the message text and submit button in a row */
  align-items: center; /* Vertically centers items in the .message-item */
}

.message-item textarea {
  height: 30px; /* Sets a fixed height for the textarea */
  margin-right: 10px; /* Adds space between the textarea and the button */
  display: none;
}

p {
  position: absolute;
  top: 10px;
  right: 10px;
}
.pets {
  display: flex;
  justify-content: space-between;
  background-color: lightcyan;
}
.logo img {
  display: block;
  height: 100px;
  margin-right: 70px;
}
.adopt {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  color: gray;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: lightcyan;
}

img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  margin-top: 40px;
  border-radius: 80px;
}

body {
  background-color: lightblue;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  border-radius: 80px;
}

footer {
  padding: 40px;
  text-align: center;
  background-color: paleturquoise;
}
.text {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 60%;
  transform: translateX(-70%);
  background-color: rgba(255, 255, 255, 0.772);
  text-align: left;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
}
.add {
  display: none;
}

.filter {
  margin-left: 50%;
  margin-top: 5%;
  visibility: hidden;
}

.contact {
  display: none;
}
.search {
  text-align: end;
}
