header {
  background-color: blanchedalmond;
  display: flex;
  padding-top: 20px;
  border-end-end-radius: 50px;
  border-bottom-left-radius: 50px;
}
.home {
  display: flex;
  height: 50px;
  margin: auto;
  padding-left: 70%;
}

.pets {
  display: grid;
  padding: 40px;
  margin-left: 30%;
  margin-right: 30%;
}
body {
  background-image: images/frame.png;
  background-size: ;
}
h2 {
  text-align: center;
  padding-top: 60px;
}
.gallery {
  display: flex;
  justify-content: center;
}
.gallery1 {
  display: flex;
  justify-content: center;
}
footer {
  padding: 100px;
  text-align: center;
  border-bottom: 20px;
  border-color: greenyellow;
}
.list {
  display: none;
}
.add {
  display: none;
}
